{
    "bracketSameLine": false,
    "bracketSpacing": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "jsxSingleQuote": false,
    "semi": true,
    "tabWidth": 2,
    "trailingComma": "all"
}
